// Widths
$desktop-width: 768px;

// Colors, thanks Tailwind
$color-white: #fff;
$color-black: #000;

$color-gray-100: #f7fafc;
$color-gray-200: #edf2f7;
$color-gray-300: #e2e8f0;
$color-gray-400: #cbd5e0;
$color-gray-500: #a0aec0;
$color-gray-600: #718096;
$color-gray-700: #4a5568;
$color-gray-800: #2d3748;
$color-gray-900: #1a202c;

$color-blue-100: #ebf8ff;
$color-blue-200: #bee3f8;
$color-blue-300: #90cdf4;
$color-blue-400: #63b3ed;
$color-blue-500: #4299e1;
$color-blue-600: #3182ce;
$color-blue-700: #2b6cb0;
$color-blue-800: #2c5282;
$color-blue-900: #2a4365;
