.feedback-dialog {
  background: #f0f0f0;
  border-radius: 0.5rem;
  border: 2px solid #EDF2F7;
  background: #F7FAFC;
  padding: 1rem;
  font-size: 8px;
}

.feedback-dialog__main {
  display: flex;
  flex-flow: row;
  justify-items: center;
}

.feedback-dialog__icon {
  display: none;
  width: 4rem;
  margin-right: 1rem;
  flex: 0 0 4rem;
}

.feedback-dialog__icon-img {
  width: 4rem;
  height: 4rem;
}

.feedback-dialog__body {
  align-items: start;
  display: flex;
  flex-flow: column;
  flex: 0 1 100%;
  justify-content: center;
}

.feedback-dialog__body-line {
  margin: 0 0 1rem 0;
}

.feedback-dialog__footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.feedback-dialog__button {
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  transition: box-shadow 300ms;
  background: #CBD5E0;
  color: #1A202C;
  margin-bottom: 1rem;
}

.feedback-dialog__button:hover, .feedback-dialog__button:active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  background: #A0AEC0;
  color: #1A202C;
}

.feedback-dialog__button--primary {
  background: #3182CE;
  color: #EBF8FF;
}

.feedback-dialog__button--primary:hover, .feedback-dialog__button--primary:focus {
  background: #2B6CB0;
  color: #EBF8FF;
}

.feedback-dialog__button--secondary {
  background: #A0AEC0;
  color: #F7FAFC;
}

.feedback-dialog__button--secondary:hover, .feedback-dialog__button--secondary:focus {
  background: #718096;
  color: #F7FAFC;
}

.feedback-dialog__button--shake {
  animation: shake 800ms cubic-bezier(0.75, 0.09, 0.22, 0.84);
}

@keyframes shake {
  10%, 90% {
    transform: translate(-1px, 0);
  }
  20%, 80% {
    transform: translate(2px, 0);
  }
  30%, 50%, 70% {
    transform: translate(-4px, 0);
  }
  40%, 60% {
    transform: translate(4px, 0);
  }
}

@media (min-width: 768px) {
  .feedback-dialog {
    font-size: 1rem;
  }
  .feedback-dialog__icon {
    display: block;
  }
  .feedback-dialog__footer {
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }
  .feedback-dialog__button {
    margin-bottom: 0;
    margin-left: 1rem;
  }
}
