<div class="board">
    <div class="board__row">
        <div class="board__cell">
            {{> fiche light=true }}
        </div>
        <div class="board__cell">
            {{> fiche light=true }}
        </div>
        <div class="board__cell">
            {{> fiche light=true }}
        </div>
        <div class="board__cell">
            {{> fiche light=true }}
        </div>
    </div>

    <div class="board__row">
        <div class="board__cell">
            {{> fiche light=true }}
        </div>
        <div class="board__cell">
            {{> fiche light=true }}
        </div>
        <div class="board__cell">
            {{> fiche light=true }}
        </div>
        <div class="board__cell">
            {{> fiche light=true }}
        </div>
    </div>

    <div class="board__row">
        <div class="board__cell">
            {{> fiche light=true }}
        </div>
        <div class="board__cell">
            {{> fiche light=true }}
        </div>
        <div class="board__cell">
            {{> fiche light=true }}
        </div>
        <div class="board__cell">
            {{> fiche light=true }}
        </div>
    </div>

    <div class="board__row">
        <div class="board__cell">
            {{> fiche light=true }}
        </div>
        <div class="board__cell">
            {{> fiche light=true }}
        </div>
        <div class="board__cell">
            {{> fiche light=true }}
        </div>
        <div class="board__cell">
            {{> fiche light=true }}
        </div>
    </div>
</div>
